body {
    background: #0D0D0D;
    font-family: Arial, sans-serif;
    padding: 40px;
    color: #FFFFFF;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card {
    background: #FFFFFF;
    color: #000;
    border-radius: 12px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 5px 22px rgb(188, 188, 188);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    display: block;
    margin: 0 auto 16px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.harga {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #222;
}

.brand {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 3px;
    margin-bottom: 15px;
}

/* Tombol */
.tombol {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.tombol button {
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background: #D4AF37;
    color: black;
    cursor: pointer;
    transition: all 0.25s ease;
}

.tombol button:hover {
    transform: translateY(-3px);
    background: #E6C04A;
}

.tombol button:active {
    transform: translateY(0);
}

@media (max-width: 900px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}
