
body {
    margin: 0;
    background: #0e0e0e;
    color: #e8e8e8;
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 20px 40px;
    color: gold;
    text-align: center;
    letter-spacing: 4px;
    background: #111;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
}


.product-container {
    display: flex;
    gap: 40px;
    padding: 50px;
}


.left-images {
    width: 50%;
}

.main-img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.image-grid img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px gold;
}


.right-info {
    width: 40%;
}

.product-title {
    font-size: 40px;
    font-weight: 700;
    color: gold;
}

.product-type {
    color: #b2b2b2;
    font-size: 14px;
}

.price {
    font-size: 32px;
    margin: 10px 0;
}


.quantity-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.qty-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid gold;
    background: none;
    color: gold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.qty-btn:hover {
    background: gold;
    color: black;
}


.buy-btn {
    width: 100%;
    padding: 15px;
    background: gold;
    color: black;
    border: none;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
    margin-bottom: 30px;
    transition: 0.3s;
}

.buy-btn:hover {
    background: #ffd835;
}


.accordion {
    margin-top: 20px;
}

.acc-item {
    background: #1a1a1a;
    padding: 18px 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid rgba(255, 215, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.acc-item h3 {
    margin: 0;
    color: gold;
}

.plus {
    position: absolute;
    right: 20px;
    top: 22px;
    font-size: 22px;
    color: gold;
}

.acc-content {
    margin-top: 10px;
    display: none;
    color: #d5d5d5;
}
