.btn-custom1 {
    display: inline-block;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #D4AF37;
    color: #000;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-custom1:hover {
    background-color: #b5911b;
}

.btn-custom2 {
    display: inline-block;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    background-color: transparent;      /* transparan */
    color: #D4AF37;                      /* tulisan emas */
    border: 2px solid #D4AF37;           /* outline emas */
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.btn-custom2:hover {
    background-color: #D4AF37;           /* hover jadi emas full */
    color: #000;                          /* tulisan hitam */
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #b5911b
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

/* index.php */
    .about-text {
        font-size: 1.1rem;
        line-height: 1.8;
        text-align: justify;
    }

    .catalog-text {
        font-size: 1.1rem;
        line-height: 1.8;
        text-align: center;
    }

    .brand {
        color: #b5911b;
    }

    .about-img {
    display: block;
    border-radius: 15px;
    width: 27rem;
    max-width: 100%;
    height: auto;   
    object-fit: cover;
    margin-left: 50px;
    }

    .catalog-img {
    display: block;
    border-radius: 15px;
    width: 15rem;
    height: auto;   
    object-fit: cover;
    margin-top: 10px;
    }

    .dark-section {
        background: linear-gradient(135deg, #0d0d0d, #1c1c1c );
        color: #f0f0f0;
    }
    

/* footer */
.footer-light {
    background: #ffffff;
    color: #000000;
    border-top: 1px solid #e5e5e5; /* biar ada pemisah elegan */
}

.footer-light p {
    margin-bottom: 6px;
}

/* tambahan */

/* Katolog image fix */
.catalog-img {
    max-width: 70%;
}

/* Jika layar kecil */
@media (max-width: 767px) {
    #about h1 {
        font-size: 2rem;
    }
    #about p {
        font-size: 1rem;
    }
}

